* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

* {
    outline: 1px solid red;
    
  }

.header {
     display: flex;
     justify-content: space-around;
     flex-direction: row;
     width: 100%;
     background-color: #1F2937;
     align-items: center;
     padding-bottom: 4rem;
}

.logo {
    padding-right: 10px;
}

.textWhite {
    color: #F9FaF8;
}

p {
    margin-bottom: 10px;
}

.logoContainer {
    display: flex;
}

.headerLinks {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.hero {
    padding: 30px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.heroText {
    padding-right: 2rem;
    font-size: 18px;
}

.button {
    background-color: rgb(59, 130, 211);
    color: #F9FaF8;
    padding: 3px;
    width: 70px;
    border-radius: 6px;
}

