* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

.header {
     display: flex;
     justify-content: space-around;
     flex-direction: row;
     width: 100%;
     background-color: #1F2937;
     align-items: center;
     padding-bottom: 4rem;
}

.logo {
    padding-right: 10px;
}

.textWhite {
    color: #F9FaF8;
}

p {
    margin-bottom: 10px;
}

.logoContainer {
    display: flex;
}

.headerLinks {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.hero {
    padding: 30px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.heroText {
    padding-right: 2rem;
    font-size: 18px;
}

.button {
    background-color: rgb(59, 130, 211);
    color: #F9FaF8;
    padding: 3px;
    width: 70px;
    border-radius: 6px;
}

.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 4rem;
}

.informationTitle {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 1rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.informationContent {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.image {
    max-width: 150px;
    max-height: 150px;
    flex-wrap: wrap;
    outline: 4px solid rgb(61, 193, 211);
    border-radius: 10px;
}

.phraseSection {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #E5E7EB;
    justify-content: center;
    flex-direction: column;
}

.phrase {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
}

.phraseAutor {
    text-align: end;
    padding-right: 8rem;
}

.singUp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.signUpCall {
    display: flex;
    background-color: rgb(16, 123, 245);
    padding: 3rem;
    border-radius: 1rem;
    width: 60%;
    justify-content: space-between;
}

.signUpTitle {
    display: flex;
    flex-direction: column;
}

.buttonSignUp {
    display: flex;
    justify-content: end;
    flex-direction: row;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

